/* Setting height to 100% for HTML, body, container-fluid, and row elements */
html,body,.container-fluid,.row {
    height: 100%;
}

/* Media query for screens with a maximum width of 1200px */
@media (Max-width: 1200px) {

    p,
    li {
        font-size: 14px;
    }
}

/*Styling for the main content area*/
.A {
    background-color: #5f7d89;
    height: 100%;
}

/* Media query for screens with a minimum width of 1200px */
@media (Min-width: 1200px) {

    p,
    li {
        font-size: 17px;
    }
}

.CButtons {
    background-color: #5f7d89;
}

/*Styling for the aside*/
.B {
    background-color: #3F6270;
    height: 100%;
}

/* Setting color to black for paragraphs, list items, and h2 */
p,
li,
h2 {
    color: #000000;
}

/* Setting color to black for paragraphs, list items, and h2 */
h1 {
    color: #ffffff;
}

/* Styling for custom navbar */
.navbar-custom {
    background-color: #092833;
}

/* Styling for navbar brand and nav links within custom navbar */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-nav .nav-link {
    color: #ffffff;
    font-weight: 700;
}